   
<div class="span6">
    <table class="table table-striped table-condensed">
        <thead>
          <tr>
			  <th style="min-width: 80px;">Emp Smart Id</th>
			  <th style="min-width: 80px;">Sun</th>
			  <th style="min-width: 80px;">Mon</th>
			  <th style="min-width: 80px;">Tue</th>
			  <th style="min-width: 80px;">Wed</th>
              <th style="min-width: 80px;">Thu</th>
              <th style="min-width: 80px;">fri</th>
              <th style="min-width: 80px;">Sat</th>
              <th style="min-width: 80px;">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="profile in profileInfo.result">
			<td>{{ profile.empSmartId }}</td>
			<td>{{ profile.firstName }}</td>
			<td>{{ profile.designation }}</td>
			<td>{{ profile.deptName }}</td>
			<td>{{ profile.emailId }}</td>
            <td><a class="btn btn-small btn-primary" ng-click="editProfile(profile)">edit</a></td>
          </tr>
        </tbody>
    </table>
</div>  