<!-- <html>

<head>
    <center>
        <h1>Edit Company Details</h1></center>
    <style type="text/css">
    .form-style-3 {
        max-width: 450px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    
    .form-style-3 label {
        display: block;
        margin-bottom: 10px;
    }
    
    .form-style-3 label > span {
        float: left;
        width: 100px;
        color: #000059;
        font-weight: bold;
        font-size: 13px;
        text-shadow: 1px 1px 1px #fff;
    }
    
    .form-style-3 fieldset {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        margin: 0px 0px 10px 0px;
        border: 1px solid #00001e;
        padding: 20px;
        background: #bbbbff;
        box-shadow: inset 0px 0px 15px #FFE5E5;
        -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
        -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
    }
    
    .form-style-3 fieldset legend {
        color: #0a0aff;
        border-top: 1px solid #00006c;
        border-left: 1px solid #00006c;
        border-right: 1px solid #00006c;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        background: #bbbbff;
        padding: 0px 8px 3px 8px;
        box-shadow: -0px -1px 2px #F1F1F1;
        -moz-box-shadow: -0px -1px 2px #F1F1F1;
        -webkit-box-shadow: -0px -1px 2px #F1F1F1;
        font-weight: normal;
        font-size: 12px;
    }
    
    .form-style-3 textarea {
        width: 250px;
        height: 100px;
    }
    
    .form-style-3 input[type=text],
    .form-style-3 input[type=date],
    .form-style-3 input[type=datetime],
    .form-style-3 input[type=number],
    .form-style-3 input[type=search],
    .form-style-3 input[type=time],
    .form-style-3 input[type=url],
    .form-style-3 input[type=email],
    .form-style-3 select,
    .form-style-3 textarea {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border: 1px solid #000059;
        outline: none;
        color: #000080;
        padding: 5px 8px 5px 8px;
        box-shadow: inset 1px 1px 4px #0a0aff;
        -moz-box-shadow: inset 1px 1px 4px #0a0aff;
        -webkit-box-shadow: inset 1px 1px 4px #0a0aff;
        background: #bbbbff;
        width: 50%;
    }
    
    .form-style-3 input[type=submit],
    .form-style-3 input[type=button] {
        background: #000045;
        border: 1px solid #000059;
        padding: 5px 15px 5px 15px;
        color: white;
        box-shadow: inset -1px -1px 3px #0a0aff;
        -moz-box-shadow: inset -1px -1px 3px #0a0aff;
        -webkit-box-shadow: inset -1px -1px 3px #0a0aff;
        border-radius: 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        font-weight: bold;
    }
    
    .required {
        color: red;
        font-weight: normal;
    }
    </style>
</head>

<body align="center">
    <center>
        <div class="form-style-3">
            <form align="center" novalidate="novalidate">
                <fieldset>
                    <legend>Personal</legend>
                    <label for="field1"><span>Company ID <span class="required">*</span></span>
                        <input type="text" class="input-field" ng-model="company.companyId" name="field1" value="" />
                    </label>
                    <label for="field3"><span>Company Name <span class="required">*</span></span>
                        <input type="text" class="input-field" ng-model="company.companyShortName" name="field3" value="" />
                    </label>
                    <label for="field4"><span>Email <span class="required">*</span></span>
                        <input type="text" class="input-field" ng-model="company.companyEmail" name="field4" value="" />
                    </label>
                    <label for="field5"><span>Company Website <span class="required">*</span></span>
                        <input type="text" class="input-field" ng-model="company.companyWebsite" name="field5" value="" />
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Address</legend>
                    <label for="field6"><span>Address <span class="required"></span></span>
                        <textarea name="field6" ng-model="company.companyAddress" class="textarea-field"></textarea>
                    </label>
                </fieldset>
                </fieldset>
                <fieldset>
                    <legend>Upload Logo</legend>
                    <label for="field7"><span>Upload Logo <span class="required">*</span></span>
                        <input fileread="company.imageData" type="file" accept="image/*" name="field7" class="textarea-field"></input>
                    </label>
                    <a href="javascript:void(0)">
                        <label><span>&nbsp;</span>
                            <input ng-click="savecompany()" type="button" value="Submit" />
                        </label>
                    </a>
                    <a href="#/company">
                        <label><span>&nbsp;</span>
                            <input type="button" value="Cancel" />
                        </label>
                    </a>
                </fieldset>
            </form>
        </div>
    </center>
</body>

</html>
 -->


<div class="container">
    <h1></h1>
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Company ID:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="company.companyId" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Company Name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="company.companyShortName" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Email:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="company.companyEmail" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Company Website:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="company.companyWebsite" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Address:</label>
            <div class="controls">
                <textarea type="text" id="inputLastName" ng-model="company.companyAddress"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Upload Logo:</label>
            <div class="controls">
                <input fileread="company.imageData" type="file" accept="image/*" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="#/company" class="btn btn-small">Cancel
                        
                    </a>
                <a href="javascript:void(0)" ng-click="savecompany()" class="btn btn-small btn-primary"> Submit</a>
            </div>
        </div>
    </form>
</div>
