<!-- <div>
{{currentBand}}
</div> -->
<center> <h1>add holiday Page</h1></center>

<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">date:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="holiday.date"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">desc:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model=" holiday.desc "/>
            </div>
        </div>


		<div class="control-group">
            <label class="control-label" for="inputLoc">loc</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="holiday.loc "/>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <a href="#/holiday" class="btn btn-small">cancel</a>
                <a ng-click="saveHoliday()" class="btn btn-small btn-primary">save</a>
            </div>
        </div>
    </form>
</div>
