
<center> <h1>Add Permissions</h1></center>

<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        

        <div class="control-group">
            <label class="control-label" for="inputLastName">empRole:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Band"/>
            </div>
        </div>


		<div class="control-group">
            <label class="control-label" for="inputLastName">moduleName:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Designation"/>
				</div>
        </div>

	<div class="control-group">
            <label class="control-label" for="inputLastName">add:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Role"/>
            </div>
        </div>
		
		  <select
            ng-model="address.state"
            ng-options="state.lookupCode as state.description for state in lov_state"></select>
		
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">view:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Role"/>
            </div>
        </div>
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">edit:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Role"/>
            </div>
        </div>
		
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">delete:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.emp_Role"/>
            </div>
        </div>




        <div class="control-group">
            <div class="controls">
                <a href="#/permissions" class="btn btn-small">cancel</a>
                <a ng-click="save()" class="btn btn-small btn-primary">add</a>
            </div>
        </div>
    </form>
</div>
