<!-- <script type="text/javascript">
function getRelease() {
    var e = document.getElementById("release_id");
    release = e.options[e.selectedIndex].value;
    rel_array = ["Rel_003", "Rel_004", "Rel_005", "Rel_006", "Rel_007", "Rel_008", "Rel_009", "Min_Rel_005", "Min_Rel_006", "Min_Rel_007", "Min_Rel_008", "Min_Rel_009", "Min_Rel_010", "Min_Rel_011", "Min_Rel_012"];

    for (index = 0; index < rel_array.length; index++) {
        document.getElementById(rel_array[index]).style.display = "none";
    }

    switch (release) {
        case "Minor Release 012":
            release = "Min_Rel_012";
            break;
        case "Minor Release 011":
            release = "Min_Rel_011";
            break;
        case "Minor Release 010":
            release = "Min_Rel_010";
            break;
        case "Minor Release 009":
            release = "Min_Rel_009";
            break;
        case "Minor Release 008":
            release = "Min_Rel_008";
            break;
        case "Minor Release 007":
            release = "Min_Rel_007";
            break;
        case "Minor Release 006":
            release = "Min_Rel_006";
            break;
        case "Minor Release 005":
            release = "Min_Rel_005";
            break;
        case "Release 009":
            release = "Rel_009";
            break;
        case "Release 008":
            release = "Rel_008";
            break;
        case "Release 007":
            release = "Rel_007";
            break;
        case "Release 006":
            release = "Rel_006";
            break;
        case "Release 005":
            release = "Rel_005";
            break;
        case "Release 004":
            release = "Rel_004";
            break;
        case "Release 003":
            release = "Rel_003";
            break;
    }

    document.getElementById(release).style.display = "block";
}

//Function to show the project name using the project_id
//function showProjectName(project_id) {
  //  var e = document.getElementById(project_id);
    //var strUser = e.options[e.selectedIndex].text;
    //document.getElementById("review_ProjectID").innerHTML = strUser;
    //document.getElementById("project_name").value = strUser;
    //document.getElementById("review_ProjectName").innerHTML = "Name of the "+strUser;            
//}
function roleDisplay(project_id){

    var r = document.getElementById(project_id);
    if (r==Slt_Min_Rel_012) {
   document.getElementById("emp_role").value = "Chairman";
} else if (r==Slt_Min_Rel_011) {
    document.getElementById("emp_role").value = "CEO";
} else if (r==sub_11) {
    document.getElementById("emp_role").value = "Director Finance";
}
else{
    document.getElementById("emp_role").value = "Director Finance";
}

}

</script> -->
<div class="container" style="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3 class="text-center"> Personal Details </h3>
            <div class="row">
                <!--class="form-inline" -->
                <form role="form">
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class="form-group">
                            <label for="First Name"> First Name</label>
                            <input type="text" id="FirstName" ng-model="profile.firstName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class="form-group">
                            <label for="Middle Name"> Middle Name</label>
                            <input type="text" id="MiddleName" ng-model="profile.middleName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class="form-group">
                            <label for="Last Name"> Last Name</label>
                            <input type="text" id="LastName" ng-model="profile.lastName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class="form-group">
                            <label for="DOB"> DOB </label>
                            <input type="date" id="DOB" ng-model="profile.dob" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Martial Status"> Martial Status </label>
                            <select name="marital" ng-model="profile.marital" class="form-control">
                                <option value="single">single</option>
                                <option value="married">married</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Gender"> Gender </label>
                            <select name="gender" ng-model="profile.gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blood Group"> Blood Group </label>
                            <select name="bldGroup" ng-model="profile.bldGroup" class="form-control">
                                <option value="A +ve">A +ve</option>
                                <option value="A -ve">A -ve</option>
                                <option value="B +ve">B +ve</option>
                                <option value="B -ve">B -ve</option>
                                <option value="AB +ve">AB +ve</option>
                                <option value="AB -ve">AB -ve</option>
                                <option value="O +ve">O +ve</option>
                                <option value="O -ve">O -ve</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Nationality"> Nationality </label>
                            <input type="text" id="Nationality" ng-model="profile.nationality" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Language Known "> Language Known </label>
                            <input type="text" id="LanguageKnown " ng-model="profile.languageKnown" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Project "> Project </label>
                            <input type="text" id="Project" ng-model="profile.project" class="form-control" />
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="band"> Band </label>
                            <select id="release_id" onchange="getRelease()" ng-model="profile.band" class="form-control">
                                <option value="" selected="selected">--Select--</option>
                                <option value="Minor Release 012">00</option>
                                <option value="Minor Release 011">01</option>
                                <option value="Minor Release 010">02</option>
                                <option value="Minor Release 009">03</option>
                                <option value="Minor Release 008">04</option>
                                <option value="Minor Release 007">05</option>
                                <option value="Minor Release 006">06</option>
                                <option value="Minor Release 005">07</option>
                                <option value="Release 009">08</option>
                                <option value="Release 008">09</option>
                                <option value="Release 007">10</option>
                                <option value="Release 006">11</option>
                                <option value="Release 005">12</option>
                                <option value="Release 004">13</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Designation"> Designation </label>
                            <div id="project_id">
                        <div id="Rel_009" style="display:none">
                           
                              <select id="Slt_Rel_009" class="form-control" onchange="showProjectName('Slt_Rel_009')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Trainee Software Engineer</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Rel_008" style="display:none">
                           
                              <select id="Slt_Rel_008"  class="form-control" onchange="showProjectName('Slt_Rel_008')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Admin Assistant</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Rel_007" style="display:none">
                           
                              <select id="Slt_Rel_007"  class="form-control" onchange="showProjectName('Slt_Rel_007')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">System Admin</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Rel_006" style="display:none">
                           
                              <select id="Slt_Rel_006"  class="form-control" onchange="showProjectName('Slt_Rel_006')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Collage Project Trainee</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Rel_005" style="display:none">
                           
                              <select id="Slt_Rel_005"  class="form-control" onchange="showProjectName('Slt_Rel_005')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Engineer</option>
                              
                              </select>
                           
                        </div>
                        <div id="Rel_004" style="display:none">
                           
                              <select id="Slt_Rel_004"  class="form-control" onchange="showProjectName('Slt_Rel_004')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Office Boy</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Rel_003" style="display:none">
                          
                              <select id="Slt_Rel_003"  class="form-control" onchange="showProjectName('Slt_Rel_003')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">6</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_012" style="display:none">
                           
                              <select id="Slt_Min_Rel_012"  class="form-control" onchange="roleDisplay('Slt_Min_Rel_012')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">CMD</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_011" style="display:none">
                           
                              <select id="Slt_Min_Rel_011"  class="form-control" onchange="roleDisplay('Slt_Min_Rel_011')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">CEO</option>
                                 <option id="sub_11" value="2">Director</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_010" style="display:none">
                           
                              <select id="Slt_Min_Rel_010"  class="form-control" onchange="roleDisplay('Slt_Min_Rel_010')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Senior Vice President</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_009" style="display:none">
                           
                              <select id="Slt_Min_Rel_009"  class="form-control" onchange="roleDisplay('Slt_Min_Rel_009')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Vice President</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_008" style="display:none">
                           
                              <select id="Slt_Min_Rel_008"  class="form-control" onchange="roleDisplay('Slt_Min_Rel_008')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Manager</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_007" style="display:none">
                           
                              <select id="Slt_Min_Rel_007"  class="form-control" onchange="showProjectName('Slt_Min_Rel_007')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Associate Manager</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_006" style="display:none">
                           
                              <select id="Slt_Min_Rel_006"  class="form-control" onchange="showProjectName('Slt_Min_Rel_006')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Senior Software Engineer</option>
                                 
                              </select>
                           
                        </div>
                        <div id="Min_Rel_005" style="display:none">
                           
                              <select id="Slt_Min_Rel_005"  class="form-control" onchange="showProjectName('Slt_Min_Rel_005')" ng-model="profile.designation">
                                 <option value="0">Select Option</option>
                                 <option value="1">Software Engineer</option>
                                 
                              </select>
                           
                        </div>
                     </div>
                        </div>
                    </div> 
                  
                    </div>-->
					<div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="bandName"> Band Name </label>
                            <!-- <input type="text" id="DepartmentName" ng-model="profile.band" class="form-control" /> -->
						<!-- 	<select name="mySelect" id="mySelect" ng-options="option.id.emp_Band for option in bands track by bands.in.emp_Band" ng-model="option.id"></select> -->
							<select ng-options="item as item.id.emp_Band for item in bands" ng-required="true" ng-model="profile.band" class= "form-control"></select>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="designation"> Designation </label>
                            <!-- <input name="role" id="emp_role" ng-model="profile.designation" class="form-control"/> -->
                   
							<select ng-options="item as item.id.emp_Designation for item in profile" ng-required="true" ng-model="profile.designation" class= "form-control"></select>
                        </div>    
                    </div>
					<div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="role"> Emp Role </label>
                           <!--  <input name="role" id="emp_role" ng-model="profile.role" class="form-control"/> -->
							
							<select ng-options="item as item.id.emp_Role for item in profile" ng-required="true" ng-model="profile.role" class= "form-control"></select>
							
                         </div>   
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Category Name"> Category Name </label>
                            <input type="text" id="CategoryName" ng-model="profile.catName" class="form-control" />
                        </div>
                    </div>
					
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Department  Name"> Department Name </label>
                            <input type="text" id="DepartmentName" ng-model="profile.deptName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="sub Department  Name"> Sub Department Name</label>
                            <input type="text" id="SubDepartment Name" ng-model="profile.subDeptName" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3 class="text-center">  Educational qualification and Industrty Details </h3>
            <div class="row">
                <!--class="form-inline" -->
                <form role="form">
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Qualification "> Qualification </label>
                            <input type="text" id="Qualification" ng-model="profile.qualf" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="certification Details"> Certification Details</label>
                            <input type="text" id="certificationDetails" ng-model="profile.certifcDetails" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blackberry Number"> Blackberry Number</label>
                            <input type="text" id="BlackberryNumber" ng-model="profile.bbNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="joiningdate"> Joining Date </label>
                            <input type="Date" id="Joining Date" ng-model="profile.joinDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Industrial Experience"> Industrial Experience </label>
                            <input type="text" id="IndustrialExperience" ng-model="profile.indExp" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Organization Experience"> Organization Experience </label>
                            <input type="text" id="OrganizationExperience" ng-model="profile.orgExp" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Domain"> Domain </label>
                            <input type="text" id="Domain" ng-model="profile.domain" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="PrimaryTechnology"> Primary Technology </label>
                            <input type="text" id="PrimaryTechnology" ng-model="profile.priTech" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="SecondaryTechnology"> Secondary Technology </label>
                            <input type="text" id="SecondaryTechnology " ng-model="profile.secTech" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="emptype">Employment Type </label>
                            <input type="text" id="emptype" ng-model="profile.type" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blackberry Number"> Certification Details </label>
                            <input type="text" id="Certification Details" ng-model="profile.certifcDetails" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="billingdetails"> Billing Details </label>
                            <input type="text" id="billingdetails" ng-model="profile.billingPercent" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="BillingStatus"> Billing Status</label>
                            <input type="text" id="BillingStatus " ng-model="profile.billingStatus" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="SeatNumber"> Seat Number </label>
                            <input type="text" id="SeatNumber" ng-model="profile.seatNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="FloorNumber"> Floor Number </label>
                            <input type="text" id="FloorNumber" ng-model="profile.floorNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="portNumber"> Port Number </label>
                            <input type="text" id="portNumber" ng-model="profile.portNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="extension"> Ex Office Extension </label>
                            <input type="text" id="extension" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="tenth"> 10th Percentage</label>
                            <input type="text" id="tenth" ng-model="profile.tenPercent" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="tenthyear"> 10th Pass Year</label>
                            <input type="text" id="tenthyear" ng-model="profile.tenpassYear" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="twelth"> 12th Percentage</label>
                            <input type="text" id="twelth" ng-model="profile.twelvePercent" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="12year"> 12th Pass Year</label>
                            <input type="text" id="12year" ng-model="profile.twelvepassYear" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="ug"> UG Percentage</label>
                            <input type="text" id="ug" ng-model="profile.gradPercent" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="ugyear"> UG Pass Year</label>
                            <input type="text" id="ugyear" ng-model="profile.gradpassYear" class="form-control" />
                        </div>
                    </div>
                    <!--    <div class="col-md-3 col-sm-3 col-xs-12 register"  >
                        <div class="form-group">
                        <label for="pg"> PG Percentage</label>
                        <input type="text" id="pg" ng-model="profile.pgpercent" class="form-control" />
                        
                        </div>  
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 register"  >
                        <div class="form-group">
                        <label for="pgyear"> PG Pass Year</label>
                        <input type="text" id="pgyear" ng-model="profile.pgpercentyear" class="form-control" />
                        
                        </div>  
                    </div> -->
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="overall">Overall Experience</label>
                            <input type="text" id="overall" ng-model="profile.overallExp" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3 class="text-center">  Contact Details </h3>
            <div class="row">
                <!--class="form-inline" -->
                <form role="form">
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="emailid "> Email ID * </label>
                            <input type="text" id="emailid" ng-model="profile.emailId" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="mobile "> Mobile Number </label>
                            <input type="text" id="mobile" ng-model="profile.cellNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="emcp "> Emergency Contact Person </label>
                            <input type="text" id="emcp" ng-model="profile.emerCntPersn" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="emc "> Emergency Contact Number </label>
                            <input type="text" id="emc" ng-model="profile.emerCntNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="address1 "> Adrees Line1 </label>
                            <input type="text" id="address1" ng-model="profile.addLine1" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="address2 "> Adrees Line2</label>
                            <input type="text" id="address2" ng-model="profile.addLine2" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="address3 "> Adrees Line3</label>
                            <input type="text" id="address3" ng-model="profile.addLine3" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="emploc "> Employee Location</label>
                            <input type="text" id="emploc" ng-model="profile.location" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3 class="text-center">  Passport Details </h3>
            <div class="row">
                <!--class="form-inline" -->
                <form role="form">
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blackberry Number"> Passport Number </label>
                            <input type="text" id="Passport Number" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blackberry Number"> Passport Issue Date </label>
                            <input type="date" id="Passport Issue Date" ng-model="profile.passIssueDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 register">
                        <div class="form-group">
                            <label for="Blackberry Number"> Passport Expiry Date </label>
                            <input type="date" id="Passport Expiry Date" ng-model="profile.passExpDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="ecnr"> ECNR Status </label>
                            <input type="text" id="ecnr" ng-model="profile.ecnrStat" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 register">
                        <div class="form-group">
                            <label for="visa"> Visa Details</label>
                            <input type="text" id="visa" ng-model="profile.visaDetails" class="form-control" />
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-3 col-xs-12 register"  >
                        <div class="form-group">
                        <label for="visas"> Visa Status </label>
                        <input type="text" id="visas" ng-model="profile.visasatus" class="form-control" />
                        </div>  
                    </div> -->
                    <div class="col-md-3 col-sm-4 col-xs-12 register">
                        <div class="form-group">
                            <label for="pan"> PAN Number</label>
                            <input type="text" id="pan" ng-model="profile.panCard" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 register">
                        <div class="form-group">
                            <label for="adhar"> ADHAR Number</label>
                            <input type="text" id="adhar" ng-model="profile.aadarNo" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
       <!--  <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3 class="text-center">  Reporting Details </h3>
            <div class="row"> -->
                <!--class="form-inline" -->
               <!--  <form role="form"> -->
                   <!--  <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="reportingmanager"> Reporting Manager</label>
                            <input type="text" id="reportingmanager" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="reportingmanagerid"> Reporting Manager ID</label>
                            <input type="text" id="reportingmanagerid" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                   <!--  <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="countermanager"> Counter Signing Manager</label>
                            <input type="text" id="countermanager" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="countermanagerid"> Counter Signing Manager ID</label>
                            <input type="text" id="countermanagerid" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                  <!--   <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="functionmanager"> Functional Manager</label>
                            <input type="text" id="functionmanager" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 col-sm-3 col-xs-12 register">
                        <div class="form-group">
                            <label for="functionmanagerid"> Functional Manager ID</label>
                            <input type="text" id="functionrmanagerid" ng-model="profile.passportNo" class="form-control" />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <a ng-click="save()" class="btn btn-small btn-primary">submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
