<div class="span6">
		<center>
        <a  class="btn btn-small btn-primary" ng-click="addband()">Add Band</a>
        <button ng-click="deleteBand()" class="btn btn-small btn-danger">Delete Band</button>
    </center>
    <br>
	
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
           <!-- <th style="min-width: 100px;">Emp Smart Id</th>
            <th style="min-width: 180px;">Time Stamp</th>-->
			 <th style="min-width: 80px;">Emp band</th>
			  <th style="min-width: 80px;">Emp Role </th>
			   <th style="min-width: 80px;">Emp Designation</th>
           
            <th style="width:210px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="Band in BandInfo.result">
		<!--<td>{{ Band.emp_smart_id }}</td>
		<td>{{ Band.timeStamp }}</td>-->
			<td>{{ Band.id.emp_Band }}</td>
			<td>{{ Band.id.emp_Role }}</td>
			<td>{{ Band.id.emp_Designation }}</td>
            <td><a class="btn btn-small btn-primary"  ng-click="editband(Band)" >edit</a></td>
         	<td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>   
        </tr>
        </tbody>
    </table>

   
</div>
