
<style>
			body {
			background-color:#2952a3;
			font color="red";
			<!--
			background-attachment: fixed;
			background-size: 100% 100%;-->
			}
</style>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }
  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
</style>
</head>
<center>
<body ng-app="changepassword">
<center><div class ="col-sm-5 col-md-3 white">
    <div ng-controller="changePassController">
    <form novalidate  name="form" >
	                    <div class="form-group">
						<label for="currentpassword"> Current Password</label>
						<input type="password" id="currentpassword" ng-model="login.empPassword" class="form-control" placeholder="Current password"/>
						
					</div>
					<div class="form-group">
						<label for="newrmpassword"> New Password</label>
					<input type="password" id="newtpassword" ng-model="new.password" class="form-control" placeholder="New password"/>
						
					</div>

					<div class="form-group">
						<label for="confirmpassword"> Confirm Password</label>
					<input type="password" id="confirmpassword" ng-model="login.confirmNewPassword" class="form-control" placeholder="Confirm password" />
					
					</div>
					<div>
     			
            
<button  ng-click="changePass()">SAVE</button>
    </form>
  </div>
  </div></center>
  <div ng-repeat="result in passSuccess">{{result}}</div>
  <div ng-repeat="result in passError">{{result}}</div>
  
      
 
</body>
</center>
</html>