<html>

<head>
    <style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }
    
    3 #customers tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    #customers tr:hover {
        background-color: #ddd;
    }
    
    #customers th {
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #0000FF;
        color: white;
    }
    </style>
</head>

<body>
    <h2 align="center">COMPANY DETAILS</h2>
    <td><a href="#/addcompanystar" class="btn btn-small btn-danger">Register</a></td>
    <div class="span6">
        <table style="min-width: 400px;" class="table table-striped table-condensed" , id="customers">
            <thead>
                <tr>
                    <th style="min-width: 100px;">Company Id</th>
                    <th style="min-width: 100px;">Company Name</th>
                    <th style="min-width: 80px;">Email</th>
                    <th style="min-width: 80px;">Website </th>
                    <th style="min-width: 140px;">Address</th>
                    <th style="min-width: 80px;">Logo</th>
                    <th style="width:110px;">&nbsp;</th>
                    <th style="width:110px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in CompanyInfo.result">
                    <td>{{company.companyId}}</td>
                    <td>{{company.companyShortName}}</td>
                    <td>{{company.companyEmail}}</td>
                    <td>{{company.companyWebsite}}</td>
                    <td>{{company.companyAddress}}</td>
                    <td><img ng-src="{{'data:image/*;base64,' + company.imageData}}" , width="100px" , height="100px" /></td>
                    <td><a ng-click="editCompany(company)" class="btn btn-small btn-danger">EDIT</a></td>
                    <td><a ng-click="deleteCompany(company)" class="btn btn-small btn-danger">DELETE</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
