<br>
<br>

<div class="span6">
    
	<!-- <center>
	<a ng-click="addSalaryStructure()" class="btn btn-small btn-danger">Add New</a>
   
	</center> -->
   
   <br>
   <br>
   
   
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <label ng-repeat="role in roles">
			
                <th style="...">Emp Id</th>
				<th style="...">Name</th>
                <th style="...">Designation</th>
               <th style="...">Basic Salary</th>
				<th style="...">HRA</th>
                <th style="...">PF</th>
				<th style="...">ESI</th>
				<th style="...">PT</th>
				
			
                
                <th style="width:20px;">&nbsp;</th>
                <th style="width:20px;">&nbsp;</th>
            </label>
			</tr>
			
		

        </thead>
        <tbody>
        <tr ng-repeat="salaryStructure in payroll.Result">
          
            <td>{{ salaryStructure.empSmartId }}</td>
            <td>{{ salaryStructure.empName }}</td>
            <td>{{ salaryStructure.designation }}</td>
			<td>{{ salaryStructure.basicSalary }}</td>
            <td>{{ salaryStructure.hra }}</td>
            <td>{{ salaryStructure.pf }}</td>
			<td>{{ salaryStructure.esi }}</td>
            <td>{{ salaryStructure.pt }}</td>
			 <td><a class="btn btn-small btn-primary"  ng-click="editSalaryStructure(salaryStructure) ">edit</a></td>

			
			
			
        </tr>
        </tbody>
    </table>
	<br>
	<br>
	<br>
	<br>
	
	
	
	
	
	 <center>
	 
	 
    <div class="col-md-5">
        <input type="file" class="browseFile" name="file">
    </div>
	
    <div class="col-md-4">
        <input type="submit" class="btn btn-success btn-md" 
               value="Upload" ng-click="uploadFile()" >
    </div>


       <!--  
		<button ng-click="save()" class="btn btn-small btn-danger">Save</button>
        <button ng-click="export()" class="btn btn-small btn-danger">Export to Excel Sheet</button>
		  <button ng-click="uploadFile()" class="btn btn-small btn-danger">Upload to spread Sheet</button> -->

    </center> 
    
</div>



