<div class="container-fluid tiles" style="">
	<!--<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div ng-repeat="module in userInfo.data.permissions">
		
		
		<a href ="#/maintenance">
		<div  ng-show="module.moduleName=='Maintenance'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-cogs fa-3x center-block"></i>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>
		
		</div>	
		</div>
		</a>
		
		<div  ng-show="module.moduleName=='TimeSheet'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa  fa-clock-o fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		
		<div  ng-show="module.moduleName=='OrganisationStructure'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-user fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		<div  ng-show="module.moduleName=='Leave'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-cogs fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		
		<div  ng-show="module.moduleName=='Registration'">
		<div class="col-md-offset-2 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-database fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		
		
		<div  ng-show="module.moduleName=='RoomReservation'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-cogs fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		<div ng-show="module.moduleName=='Profile'">
		<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<div class="inner-registration" style="background:#2952a3;">
		<i class="white fa fa-user fa-3x center-block"/>
		<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
		</div>	
		</div>
		</div>
		
		
		
		
		
		
		</div>
		</div>
	</div>-->
	<div class="col-md-12 col-sm-12 col-xs-12" >
	
	
	<div class="row">		
		<div class="col-md-3 col-sm-3 mar-top" ng-repeat="module in userInfo.data.permissions | filter : filterModule">
			<a ng-href ="#/{{module.moduleName.toLowerCase()}}">
				<div class="inner-registration" style="background:#2952a3;">
					<i class="white fa fa-3x center-block" ng-class="moduleIcons[module.moduleName]"></i>
					<br><p class="text-center"><strong>{{module.moduleName}}</strong></p>
				</div>
			</a>
		</div>
		<div class="col-md-3 col-sm-3 mar-top">
			<a href ="#/payroll">
				<div class="inner-registration" style="background:#2952a3;">
					<i class="white fa fa-cogs fa-3x center-block"/>
					<br><p class="text-center"><strong>payroll</strong></p>
				</div>
			</a>
		</div>
		<div class="col-md-3 col-sm-3 mar-top">
			<a href ="#/registration">
				<div class="inner-registration" style="background:#2952a3;">
					<i class="white fa fa-cogs fa-3x center-block"/>
					<br><p class="text-center"><strong>Registration</strong></p>
				</div>
			</a>
		</div>
	</div>
					
	
</div>