
<body>
	<h1><center>shiftTime Time</center></h1>
	<div class="row">
		<div class ="container">
			<form  name="timeshift" novalidate="novalidate" role="form" >
				
				<div class="col-md-12 col-sm-12">
					<h4 color="blue" text-shadow="true"> shiftTime Details</h4>
					<div class="col-md-6 col-sm-6 ">
						
						<label for="shiftTimeName"> Shift Name :	</label>
						<input  type="text" name="shiftTimeName" 
						ng-model="shifts.shiftName"
						ng-minlength="5"
						ng-maxlength="20" 
						required
						placeholder=" Please provide ShiftName" />
						<span ng-show="timeshift.shiftTimeName.$error.required" > * </span>
						<span ng-show="timeshift.shiftTimeName.$error.maxlength">Too long max 20 letters</span>
						<span ng-show="timeshift.shiftTimeName.$error.minlength ">Too Short minimum </span>
						
					</div>
					<div class="col-md-6 col-sm-6 ">
						<label id="shiftCode">Shift Code:</label>
						<input  type="text" name="shiftTimeCode"  ng-model="shifts.shiftCode"  
						ng-minlength="5"
						ng-maxlength="10"
						placeholder="Code" 
						required/>
						<span ng-show="timeshift.shiftTimeCode.$error.required" > * </span>
						<span ng-show="timeshift.shiftTimeCode.$error.minlength" >Too Short</span> 
						<span ng-show="timeshift.shiftTimeCode.$error.maxlength" >Too Long</span> 
					</div>
					
					<div class="col-md-6 col-sm-6 mar-top">
						<label id="beginTime">Begin Time: </label>
						<input type="time" name="beginTime"   ng-model="shifts.beginTime" 
						placeholder="Begin Time(HH:MM:SS)"
						required />
						<span ng-show="timeshift.beginTime.$error.required" > * </span>
					</div>
					<div class="col-md-6 col-sm-6 mar-top">
						<label id="endTime">End Time: </label>
						<input type="time" name="endTime"   ng-model="shifts.endTime" 
						placeholder="End Time(HH:MM:SS)" 
						required /> 
						<span ng-show="timeshift.endTime.$error.required" > * </span>
					</div>
					
				</div>
				
				<div class="col-md-12 col-sm-12">
					<h4 color="blue" text-shadow="true"> Shift Schedule Details</h4>
					
					<div class="radio">
						
						<label>
							<input type="radio"  ng-value="specialValue">
							Regular
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-value="specialValue">
							Flexible
						</label>
					</div>
					
					
				</div>
				
				<div class="col-md-12 col-sm-12">
					
					<label id="stime">shifts Duration:
					<input type="text"   value= "{{(shifts.endTime-shifts.beginTime)/3600000}}" ng-disabled="true"   placeholder="" />Hrs </label>
				</div>
				
				<div class="col-md-12 col-sm-12">
					<div class="col-md-6 col-sm-6 mar-top ">	
					<input type="checkbox" id="break1" ng-model="shifts.break1"/>
						<label id="break1">Break1</label>
						</div>

				
					<div class="col-md-6 col-sm-6 mar-top ">	
						<label id="b1kime">Break1 Duration: 
						<input type="text"  value= "{{((shifts.break1EndTime-shifts.break1BeginTime)*18/5)/36000/6}}" ng-disabled="true"    placeholder="" required/>mins</label>
						</div>
						<div class="col-md-6 col-sm-6 mar-top ">	
						
						<label id="break1BeginTime">Begin Time: </label>
						<input type="time"  ng-model="shifts.break1BeginTime" 
						placeholder="HH:MM:SS"  />
						</div>
					
					<div class="col-md-6 col-sm-6 mar-top ">	
						
						<label id="br1endtime">End Time: </label>
						<input type="time"  ng-model="shifts.break1EndTime" 
						placeholder="HH:MM:SS"  />
						
					</div>
				
			
		<div class="col-md-6 col-sm-6 mar-top ">	
				
				<input type="checkbox" id="break2" ng-model="shifts.break2"/>
				<label id="break2">Break2</label>
		</div>
		<div class="col-md-6 col-sm-6 mar-top ">	
				<label id="b2kime">Break2 Duration: 
				<input type="text"    value="{{((shifts.break2EndTime-shifts.break2BeginTime)*18/5)/36000/6}}" ng-disabled="true"    required/>mins</label>
				</div>
				
				<div class="col-md-6 col-sm-6 mar-top ">	
					
				<label id="break2BeginTime">Begin Time: </label>
				<input type="time"  ng-model="shifts.break2BeginTime" placeholder="HH:MM:SS"  />
				
				</div>
				<div class="col-md-6 col-sm-6 mar-top ">	
				
				<label id="br2endtime">End Time: </label>
				<input type="time"  ng-model="shifts.break2EndTime" placeholder="HH:MM:SS"  />
				
				</div>
				
				<div class="col-md-6 col-sm-6 mar-top ">	
				<label id="pbb">Punch Begin Before </label>
				<input type="number" min="1" max="999" ng-model="shifts.punchBeginDuration" /><label>mins</label>
				</div>	
				
				<div class="col-md-6 col-sm-6 mar-top ">	
				<label id="pea">Punch End After</label>
				<input type="number" min="1" max="999" ng-model="shifts.punchEndDuration" /><label>mins</label>
				</div>
				
				
				<div class="col-md-6 col-sm-6 mar-top ">	
				<label id="gt">Grace Time
				<input type="text" pattern="(?:[01]|2(?![4-9])){1}\d{1}:[0-5]{1}\d{1}:[0-5]{1}\d{1}"  ng-model="shifts.graceTime" 
				placeholder="HH:MM:SS"  />mins</label>
				</div>
				
				<div class="col-md-6 col-sm-6 mar-top ">	
				<label id="gt">Mark Half Day when report to office after </label> 
				<input type="text" pattern="(?:[01]|2(?![4-9])){1}\d{1}:[0-5]{1}\d{1}:[0-5]{1}\d{1}"  ng-model="shifts.markHalfDayTime" 
				placeholder="HH:MM:SS"  />
				</div> 
				
				
				</div>
				
				<div class="control-group">
				<div class="controls">
				<a href="#/shiftview" class="btn btn-small btn-primary">Cancel</a> 
				
				<button ng-click="save(shifts)"  value="save" class="btn btn-small btn-primary"> Save</button> 
				</div>
				</form>
				</div>
				</div>
				
				</body>
				
				
								