
<center> <h1>Edit Hierarchy</h1></center>


<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        

        <div class="control-group">
            <label class="control-label" for="inputLastName">Category Name</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="hierarchy.id.categoryName"/>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputLastName">Department:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="hierarchy.id.deptName"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">Sub Department:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="hierarchy.id.subName"/>
            </div>
        </div>



        <div class="control-group">
            <div class="controls">
                <a href="#/hierarchy" class="btn btn-small">cancel</a>
                <a ng-click="edit()" class="btn btn-small btn-primary">update</a>
            </div>
        </div>
    </form>
</div>
