
<center> <h1>Edit Salary Page</h1></center>

<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        

         <div class="control-group">
            <label class="control-label" for="inputLastName">Emp Id:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="salaryStructure.empSmartId" ng-readonly="true"/>
				
            </div>
        </div>

		
 

<div class="control-group">
	
	
	
	<div class="control-group">
            <label class="control-label" for="inputLastName">Name:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="salaryStructure.empName" ng-readonly="true"/>
            </div>
        </div>
		
<div class="control-group">
	
            <label class="control-label" for="inputLastName">Designation:</label>

            <div class="controls">
			<input type="text" id="inputLastName" ng-model="salaryStructure.designation" ng-readonly="true"/>
            </div>
</div>
		
            <label class="control-label" for="inputLoc">Basic Salary</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="salaryStructure.basicSalary "/>
				</div>
        </div>

		<div class="control-group">
            <label class="control-label" for="inputLoc">hra</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="salaryStructure.hra "/>
            </div>
        </div>

		<div class="control-group">
            <label class="control-label" for="inputLoc">pf</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="salaryStructure.pf "/>
            </div>
        </div>

		<div class="control-group">
            <label class="control-label" for="inputLoc">esi</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="salaryStructure.esi "/>
            </div>
        </div>

		<div class="control-group">
            <label class="control-label" for="inputLoc">pt</label>

            <div class="controls">
                <input type="text" id="inputLoc" ng-model="salaryStructure.pt "/>
            </div>
        </div>

		<br>

        <div class="control-group">
            <div class="controls">
                <a href="#/CreateSalaryStructure" class="btn btn-small">cancel</a>
                <a ng-click="save()" class="btn btn-small btn-primary">update</a>
            </div>
        </div>
    </form>
</div>
