
<center> <h1>edit user Page</h1></center>

<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        

        <div class="control-group">
            <label class="control-label" for="inputLastName">Emp band:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.id.emp_Band"/>
            </div>
        </div>


		<div class="control-group">
            <label class="control-label" for="inputLastName">Emp Designation:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.id.emp_Designation"/>
            </div>
        </div>

	<div class="control-group">
            <label class="control-label" for="inputLastName">Emp Role:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="band.id.emp_Role"/>
            </div>
        </div>



        <div class="control-group">
            <div class="controls">
                <a href="#/band" class="btn btn-small">cancel</a>
                <a ng-click="save()" class="btn btn-small btn-primary">update</a>
            </div>
        </div>
    </form>
</div>
