
<center> <h1>Edit Permissions</h1></center>

<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        

        <div class="control-group">
            <label class="control-label" for="inputLastName">empRole:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.empRole "/>
            </div>
        </div>


		<div class="control-group">
            <label class="control-label" for="inputLastName">moduleName:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.moduleName"/>
				</div>
        </div>

	<div class="control-group">
            <label class="control-label" for="inputLastName">add:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.add"/>
            </div>
        </div>
		
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">view:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.view"/>
            </div>
        </div>
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">edit:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.edit"/>
            </div>
        </div>
		
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">delete:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="permissions.del"/>
            </div>
        </div>




        <div class="control-group">
            <div class="controls">
                <a href="#/permissions" class="btn btn-small">cancel</a>
                <a ng-click="save()" class="btn btn-small btn-primary">add</a>
            </div>
        </div>
    </form>
</div>
