
<div class="container">
    <h1></h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">site:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="location.site"/>
            </div>
        </div>

		
		<div class="control-group">
            <label class="control-label" for="inputLastName">Floor no:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.floorNo"/>
            </div>
        </div>
		
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">Room no:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.roomNo"/>
            </div>
        </div>
		
		
		
		
        <div class="control-group">
            <label class="control-label" for="inputLastName">capacity:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.capacity"/>
            </div>
        </div>


		<div class="control-group">
            <label class="control-label" for="inputLastName">White Board:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.wb"/>
            </div>
        </div>

	<div class="control-group">
            <label class="control-label" for="inputLastName">Video conference:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.vc"/>
            </div>
        </div>
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">Personal computer:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.pc"/>
            </div>
        </div>
		
		<div class="control-group">
            <label class="control-label" for="inputLastName">Tele conference:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="location.tc"/>
            </div>
        </div>



        <div class="control-group">
            <div class="controls">
                <a href="#/location" class="btn btn-small">cancel</a>
                <a ng-click="save()" class="btn btn-small btn-primary">update</a>
            </div>
        </div>
    </form>
</div>
