<!-- 
<style>
			body {
			background-color:#2952a3;
			font color="red";
			<!--
			background-attachment: fixed;
			background-size: 100% 100%;-->
			
<!-- </style>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }
  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
</style> -->
<div class ="col-sm-5 col-md-3 white">
    <form novalidate  name="form" >
	                    <div class="form-group">
						<label for="smartid"> Gsmart Id</label>
						<input type="text" id="smartid" ng-model="profile.empSmartId" class="form-control" placeholder="Gsmart Id"/>
						
						
					</div>
					<div class="form-group">
						<label for="emailid"> Email Id</label>
						<input type="text" id=" CommonMail" ng-model="profile.emailId" class="form-control" placeholder="Email Id"/>
						
					</div>

					
					<div>
                        <button  ng-click="forgotPass()">SUBMIT</button>
                       
                   </div>
                        <div ng-repeat="result in passSent">{{result}}</div>
                        <div ng-repeat="result in EmailEroor">{{result}}</div>
   </form>
      </div>
	  </div>
