<div class="span6">
	<center>
		<div   class="btn btn-small btn-primary"  ng-click="addhierarchy()">Add Hierarchy</div>
		<button onclick="myFunction()" class="btn btn-small btn-danger">Delete Hierarchy</button>
	</center>
	<script>
		function myFunction() {
			alert(" Are you sure you want to delete !");
		}
	</script>
    <br>
    <table class="table table-striped table-condensed">
        <thead>
			<tr>
				<label ng-repeat="role in roles">
					
					<td><input type="checkbox" />    &nbsp;   </td>
					<th style="...">Category</th>
					<th style="...">Department</th>
					<th style="...">Sub Department</th>
					<th style="width:20px;">&nbsp;</th>
					<th style="width:20px;">&nbsp;</th>
				</label>       
			</tr>
			
		</thead>
        <tbody>
			<tr ng-repeat="hierarchy in hierarchyInfo.result">
				<td><input type="checkbox" />    &nbsp;   </td>
				<td>{{hierarchy.id.categoryName}}</td>
				<td>{{ hierarchy.id.deptName }}</td>
				<td>{{ hierarchy.id.subName }}</td>
				
				<td><a class="btn btn-small btn-primary"  ng-click="editHierarchy(hierarchy)" >edit</a></td>
				<td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>
						
						
			</tr>
			
			
		</tbody>
	</table>
	
</div>




