<div class="span6">
    <center>
        <a  class="btn btn-small btn-primary" ng-click="addholiday()">Add Holiday</a>
        <button ng-click="deleteHolidays()" class="btn btn-small btn-danger">Delete Holiday</button>
    </center>
    <br>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <label ng-repeat="role in roles">
			    <th style="..."></th>
                <th style="...">Date</th>
                <th style="...">Description</th>
                <th style="...">Location</th>
                <th style="width:20px;">&nbsp;</th>
                <th style="width:20px;">&nbsp;</th>
            </label>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="holiday in holidayInfo.result">
            <td><input type="checkbox" ng-model="holiday.checked"></td>
            <td>{{ holiday.date }}</td>
            <td>{{ holiday.desc }}</td>
            <td>{{ holiday.loc }}</td>
			
			<td><a class="btn btn-small btn-primary"  ng-click="editHoliday(holiday)" >edit</a></td>
			<td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>
        </tr>
        </tbody>
    </table>
    
</div>



