<div class = "container-fluid" class="span6">
	<center>
	<a class="btn btn-small btn-primary" href="#/addLocation">Add Location </a>
	</center>	
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>site</th>
						<th>floor no </th>
						<th>room no </th>
						<th>capacity </th>
						<th>wb </th>
						<th>pc  </th>
						<th>vc </th>
						<th>tc </th>
						<th>empSmartId </th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="location in locationInfo.result">
							<td>{{ location.site}}</td>
							<td>{{ location.floorNo}}</td>
							<td>{{ location.roomNo}}</td>
							<td>{{ location.capacity }}</td>
							<td>{{ location.wb }}</td>
							<td>{{ location.pc }}</td>
							<td>{{ location.vc }}</td>
							<td>{{ location.tc }}</td>
							<td>{{ location.empSmartId }}</td> 
						
						<td><a class="btn btn-small btn-primary"  ng-click="editLocation(location)" >edit</a></td>
						<td><a class="btn btn-small btn-primary"  ng-click="deleteLocation(location)" >delete</a></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

