<style>
			body {
			background-color:#2952a3;
			font color="red";
			<!--
			background-image: url('img/bg.png');
			background-attachment: fixed;
			background-size: 100% 100%;-->
			}
</style>

<div  class="container">
	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 mar-top" > 
        
        <div class="row">                
            <div class="iconmelon">
                              
				<center><img src="img/login logo.png" width="30%"></img></center>
				</br>
                
              
            </div>
        </div>
	</div>
		
	<div class="card card-container ">
		<div class="row"  >
			<div class="col-sm-offset-4 col-sm-4 col-xs-12 white" >
			<!--<center><h1>Login</h1></center>-->
				
				<form novalidate="novalidate" >
					<div class="form-group">
						<label for="smartid"> Gsmart Id</label>
						<input type="text" id="smartid" ng-model="login.empSmartId" class="form-control" placeholder="Gsmart Id"/>
						
					</div>
					<div class="form-group">
						<label for="password">password</label>
						<input type="password" id="password" ng-model="login.empPassword" class="form-control" placeholder="password"/>
					</div>
					<div >
						<center><a  ng-click="authenticateUser()" class="btn btn-primary">Login</a></center>
					</div>
				</form>
				<div class= "red">
				<alert ng-if="loginError">{{loginError}}</alert>
				</div>
			</div>
			
		</div>
	</div>
</div>

