

<body class="loggedin">
	<!--NAVIGATION-->
	
	<div class="container-fluid tiles" style="">			
		<div class="row">
			
			
			<h3 class="text-center"></h3>
			
			
			<!--todo: Move the anchor tag outside in order to remove test underline on hover-->
			<a href ="#/location" ><div class="col-md-3 col-sm-3 col-xs-12" >
				<div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa fa-thumbs-up fa-3x center-block"></i> 
					<br><p class="text-center"><strong>Locations</strong></p>
				</div>
			</div></a>
			
			
			<div class="col-md-3 col-sm-3 col-xs-12" >
				<a href ="#/band"><div class="inner-registration" style="background:#ff3300;"> 
					<i class="white fa  fa-flag fa-3x text-center"></i> 
					<p class="text-center"><strong>Band</strong></p>
				</div></a>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12"  >
				<a href ="#/hierarchy"><div class="inner-registration" style="background: #ff3300;">
					<i class="white fa fa-gg fa-3x text-center"></i> 
					<p class="text-center"><strong>Hierarchy</strong></p>
				</div></a>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12" >
				<a href ="#/holiday"><div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa-th-list fa-3x text-center"></i> 
					<p class="text-center"><strong>Holiday</strong></p>
				</div></a>
			</div>
			
			
			<div class="col-md-3 col-sm-3 col-xs-12 mar-top"  >
				<a href ="#/privilageInput"><div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa-th-list fa-3x text-center"></i> 
					<p class="text-center"><strong>Privilage</strong></p>
				</div></a>
			</div>
			
			
			<div class="col-md-3 col-sm-3 col-xs-12 mar-top"  >
				<a href ="#/leavetype"><div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa-th-list fa-3x text-center"></i> 
					<p class="text-center"><strong>Leave</strong></p>
				</div></a>
			</div>
			
			
			
			<div class="col-md-3 col-sm-3 col-xs-12 mar-top"  >
				<a href ="#/permissions"><div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa-th-list fa-3x text-center"></i> 
					<p class="text-center"><strong>Permissions</strong></p>
				</div></a>
			</div> 
			
		<!-- 	<div class="col-md-3 col-sm-3 col-xs-6 mar-top" >
		<a ng-href ="#/permissions "> 
			<div class="inner-registration" style="background:#2952a3;">
			<i class="white fa fa-user fa-3x center-block"/>
			<br><p class="text-center"><strong>Permissions</strong></p>
		</div>	</a>
	</div> -->
	
	
							<div class="col-md-3 col-sm-3 mar-top" >
							<a href ="#/company"> 
								<div class="inner-registration" style="background:#ff3300;">
									<i class="white fa fa-cogs fa-3x center-block"></i>
									<br><p class="text-center"><strong>Company Data</strong></p>
								</div>
								</a>
							</div>
							
							
	<div class="col-md-offset-4 col-md-3 col-sm-3 col-xs-6 mar-top" >
		<a ng-href ="#/shiftview">
			<div class="inner-registration" style="background:#ff3300;">
				<i class="white fa fa-user fa-3x center-block"/>
				<br><p class="text-center"><strong>Shift Timing</strong></p>
			</div>	
		</a>
	</div>
			
		</div>
	</div>
	
	
	
	
	
</body>
