<div class="span6">

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
           <!-- <th style="min-width: 100px;">Emp Smart Id</th>
            <th style="min-width: 180px;">Time Stamp</th>-->
			 <th style="min-width: 80px;">Emp Id</th>
			  <!-- <th style="min-width: 80px;">Sun</th> -->
			   <th style="min-width: 80px;">week 1</th>
               <th style="min-width: 80px;">week 2</th>
              <th style="min-width: 80px;">week 3</th>
               <th style="min-width: 80px;">week 4</th>
               <th style="min-width: 80px;">week 5</th>
              <th style="min-width: 80px;">week 6</th>
               <th style="min-width: 80px;">Total</th>
           
            <th style="width:210px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="empData in monthData">
			<td>{{empData.empSmartId}}</td>
			<!-- <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==0">{{day.hours}}</td>
			<td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==1">{{day.hours}}</td>
            <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==2">{{day.hours}}</td>
            <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==3">{{day.hours}}</td>
            <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==4">{{day.hours}}</td>
            <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==5">{{day.hours}}</td>
            <td ng-repeat="day in days.weeklyDateObjects" ng-show="day.day==6">{{day.hours}}</td> -->
            <td>{{empData.totalHours}}</td>
            <!-- <td><a class="btn btn-small btn-primary"  ng-click="editband(Band)" >edit</a></td>
         	<td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>    -->
        </tr>
        </tbody>
    </table>

   
</div>
