

<body class="loggedin">
	<!--NAVIGATION-->
	
	<div class="container-fluid tiles" style="">			
		<div class="row">
			
			
			<h3 class="text-center"></h3>
			
			
			<!--todo: Move the anchor tag outside in order to remove test underline on hover-->
			<a href ="#/CreateSalaryStructure" ><div class="col-md-3 col-sm-3 col-xs-12" >
				<div class="inner-registration" style="background:#ff3300;">
					<i class="white fa fa fa-thumbs-up fa-3x center-block"></i> 
					<br><p class="text-center"><strong>Create Salary Structure</strong></p>
				</div>
			</div></a>
			
			
			<div class="col-md-3 col-sm-3 col-xs-12" >
				<a href ="#/CreateSalaryStructure"><div class="inner-registration" style="background:#ff6600;"> 
					<i class="white fa  fa-flag fa-3x text-center"></i> 
					<p class="text-center"><strong>Generate Salary Statement</strong></p>
				</div></a>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12"  >
				<a href ="#/hierarchy"><div class="inner-registration" style="background: #ffcc00;">
					<i class="white fa fa-gg fa-3x text-center"></i> 
					<p class="text-center"><strong>Create Salary Slip</strong></p>
				</div></a>
			</div>
			
			
			
			
			
			
			
			
			
			
			
		</div>
	</div>
	
	
	
	
	
</body>
