<div class="span6  mar-top">
    <center>
        <a  class="btn btn-small btn-primary"  ng-click="addpermissions()">Add permissions</a>
       
    </center>
    <br>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <label ng-repeat="role in roles">
                <th style="...">ROLENAME</th>
				 <th style="...">smartid</th>
                <th style="...">MODULENAME</th>
                <th style="...">VIEW</th> 
				<th style="...">ADD</th>
				
				 <th style="...">EDIT</th>
                <th style="...">DELETE</th>
				
                <th style="width:20px;">&nbsp;</th>
                <th style="width:20px;">&nbsp;</th>
            </label>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="permissions in permissionsInfo.permissions">
            
            <td>{{ permissions.empRole }}</td>
			 <td>{{ permissions.empSmartId }}</td>
            <td>{{ permissions.moduleName }}</td>
            <td>{{ permissions.add }}</td>
			<td>{{ permissions.view }}</td>
			<td>{{ permissions.edit }}</td>
			<td>{{ permissions.del }}</td>
			
			<td><a class="btn btn-small btn-primary"  ng-click="editpermissions(permissions)" >edit</a></td>
			<td><a class="btn btn-small btn-primary"  ng-click="deletepermission(permissions)" >delete</a></td>
        </tr>
        </tbody>
    </table>
    
</div>



