

<div class="container">
    <h1>Privilage</h1>
	
	<form novalidate="novalidate" class="form-horizontal" >
		<div class="control-group">
			<label class="control-label" for="privilagename">Privilage Input</label>
			
			<div class="controls">
				<input type="text" id="privilagename" ng-model="psearch.eName" placeholder="Privilage Name"/>
			</div>
		</div>
		<div class="control-group">
            <div class="controls">
                <a ng-click="searchUser()" class="btn btn-small btn-primary">Search</a>
			</div>
		</div>          
	</form>
	
	
	
	
	
</div>


