


<div class="span6">

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Emp Smart Id</th>
            <th style="min-width: 80px;">Full Name</th>
            <!--  <th style="min-width: 80px;">roomNo</th>
             <th style="min-width: 80px;">capacity</th>
             <th style="min-width: 80px;">wb</th>
             <th style="min-width: 80px;">pc</th>
             <th style="min-width: 80px;">vc</th>
             <th style="min-width: 80px;">tc</th> -->
            <th style="width:20px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>

        </tr>
        </thead>
        <tbody>
             <tr ng-repeat="prasanna in PrivilageInfo.result">
            <td>{{prasanna.empSmartId }}</td>
             <td>{{prasanna.firstName}} {{prasanna.middleName}} {{prasanna.lastName}}</td>

            </tr>
        </tr>
        </tbody>
    </table>

</div>