<div class="span6">
		<center>
        <a  class="btn btn-small btn-primary" ng-click="addProfile()">Add User</a>
    </center>
    <br>
	
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
           <!-- <th style="min-width: 100px;">Emp Smart Id</th>
            <th style="min-width: 180px;">Time Stamp</th>-->
			 <th style="min-width: 80px;">Emp Smart Id</th>
			  <th style="min-width: 80px;">Name</th>
			   <th style="min-width: 80px;">Designation</th>
			   <th style="min-width: 80px;">Department</th>
			   <th style="min-width: 80px;">Email</th>
           
            <th style="width:210px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in profileInfo.result">
		<!--<td>{{ Band.emp_smart_id }}</td>
		<td>{{ Band.timeStamp }}</td>-->
			<td>{{ profile.empSmartId }}</td>
			<td>{{ profile.firstName }}</td>
			<td>{{ profile.designation }}</td>
			<td>{{ profile.deptName }}</td>
			<td>{{ profile.emailId }}</td>
            <td><a class="btn btn-small btn-primary" ng-click="editProfile(profile)">edit</a></td>
         	<!-- <td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>    -->
        </tr>
        </tbody>
    </table>

   
</div>
