<style type="text/css">

#ProfilePage
{
    margin: 50px auto;
    width: 635px;
    padding: 10px;
    border: 1px solid black;
}

#LeftCol
{
    float: left;
    width: 200px;
    text-align: left;
    margin-right: 20px;
    padding-left: 50px;
    padding-top: 30px;
    color: blue;
}

#Photo
{
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid green;
}

#Info
{
    width: 300px;
    text-align: center;
    float: right;
}

#Img
{
    width : 150px;
}

#Header
{
    text-align: center;
    color: red;
}

#Text
{
    color: green;
}

</style>

<div id="ProfilePage">
    <div><h3 id="Header">PROFILE PAGE</h3></div>
    <div id="Info">
        <div id="Photo"><img src="C:\Users\RURALENGINE\Desktop\image.png" id="Img"></div>
    </div>

    <div id="LeftCol">
        <p>
            <strong>Name:</strong>
            <span id="Text">Rakesh</span>
        </p>
        <p>
            <strong>email:</strong>
            <span id="Text">rakesh@gmail.com</span>
        </p>
        <p>
            <strong>mobile:</strong>
            <span id="Text">9500292107</span>
        </p>
    </div>
    <div style="clear:both"></div>
</div>