<title>Shift Time </title>
<div style="overflow-x:auto;" class="container" >
	<table class="table table-striped table-condensed">
		<h2 align="center">SHIFT TIMINGS </H2>
		<a class="btn btn-small btn-primary"  href="#/addshift" >ADD SHIFT</a>
		<thead>
			<th ng-hide="true" >SHIFT ID</th>
			<th>SHIFT NAME</th>
			<th>SHIFT CODE</th>
			<th>BEGIN TIME</th>
			<th>END TIME</th>
			<th>EDIT</th>
			<th>DELETE</th>
		</thead>
		<tbody>
			<tr ng-model="ShiftCtrl" ng-repeat="shift in ShiftInfo.result" >
			<!--	<td ng-repeat=" shiftarray in shift track by $index"> {{shiftarray}}</td> -->
			
			<td ng-hide="true">{{shift.shiftId}}</td>	
			<td>{{shift.shiftName}}</td>
			<td>{{shift.shiftCode}}</td>
			<td>{{shift.beginTime}}</td>
			<td>{{shift.endTime}}</td>
			<!--<td>{{shift}}</td> -->
						
			<td><a class="btn btn-small btn-primary"  ng-click="editShift(shift,$index)" >EDIT</a></td>
			<td><button class="btn btn-small btn-primary" ng-click="deleteShifts(shift,$index)" >DELETE</button></td>
			
		</tr>
	</tbody>
	
</table>



</div>

