
<style type="text/css">
#ProfilePage
{
    margin: 50px auto;
    width: 600px;
    border: 1px solid red;
}

#RightCol
{
    float: right;
    text-align: center;
    margin-right: 20px;
}

#Photo
{
    width: 200px;
    height: 200px;
	border: 1px solid blue;
}

#Info
{
    width: 400px;
    text-align: center;
    float: left;
    margin-top: 10px;
	border: 1px solid blue;
}

</style>

<div id="ProfilePage"><h3 align="center">Profile Page</h3>
    <div id="RightCol">
        <div id="Photo"></div>
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
        </p>
        <p>
            <strong>email:</strong>
        </p>
        <p>
            <strong>mobile:</strong>
        </p>
    </div>
    <div style="clear:both"></div>
</div>