<style>
.timeline-item {
	height: 5px;
	background-color: #97B0F8;
	border: none;
}
</style>
<div class="container">
	 <h3>Timesheet</h3>
	 <div>choose date</div><div><input type="date" ng-model="currentDate" ng-change="getDailyReport()"></input></div>
	 <button class="btn btn-primary" ng-click="loadTimeline()">reload timeline</button>
	 <div class="row">
		<h5>Daily</h5>
		<div class="col-md-12 .vis-time-axis .grid.vis-odd">
			<timeline></timeline>
		</div>
	 </div>
   <div>
      <a href="#/weekly">
        <button class="btn btn-primary">week</button>
      </a>
    </div>
    <div>
      <a href="#/monthly">
        <button class="btn btn-primary">month</button>
      </a>
    </div>
	 <div class="row">
		<h5>Weekly</h5>
		<div class="col-md-12 .vis-time-axis .grid.vis-odd">
		</div>
	 </div>
	 
	 <div class="modal fade" tabindex="-1" role="dialog" id="updatetimelineModal">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="row">
		      <div class="col-md-12">
            <div class='input-group date' id='datetimepicker1' date-time-picker default-date="currentItem.oldStartdate" ng-modal="currentItem.start">
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>
          <div class="col-md-12">
            <div class='input-group date' id='datetimepicker1' date-time-picker default-date="currentItem.oldEnddate" ng-modal="currentItem.end">
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>
            <!-- <div class="form-group">
                <label for="startDate"> start time </label>
                    <input type="time" id="startDate" ng-model="currentItem.start.time" class="form-control" />
            </div>
		        <div class="form-group">
                <label for="startDate"> end time </label>
                    <input type="text" id="endDate" ng-model="timesheet.endTime" class="form-control" />
            </div> -->
		      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="save();">Save changes</button>
        </div>
        <div>
          <a href="/weekly">
            <button class="btn btn-primary" ng-click="">reload timeline</button>
          </a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>