<div class="row">		
		<div class="col-md-3 col-sm-3" ng-repeat="module in permissionsInfo.permissions | filter : anyDuplicates">
			
				<div class="inner-registration" style="background:#2952a3; margin-top: 10px;">
					<i class="white fa fa-3x center-block"></i>
					<br><p class="text-center"><strong>{{module.empRole}}</strong></p>
				</div>
			
		</div>
	</div>