<div class="span6">

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
           <!-- <th style="min-width: 100px;">Emp Smart Id</th>
            <th style="min-width: 180px;">Time Stamp</th>-->
			 <th style="min-width: 80px;">Emp Id</th>
			  <!-- <th style="min-width: 80px;">Sun</th> -->
			   <th style="min-width: 80px;">Mon</th>
               <th style="min-width: 80px;">Tue</th>
              <th style="min-width: 80px;">Wed</th>
               <th style="min-width: 80px;">Thu</th>
               <th style="min-width: 80px;">Fri</th>
              <th style="min-width: 80px;">Sat</th>
               <th style="min-width: 80px;">Total</th>
           
            <th style="width:210px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="empData in weekData">
            <td>{{empData.empSmartId}}</td>
			      <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==0"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
			      <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==1"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==2"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==3"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==4"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==5"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td ng-repeat="data in empData.weeklyDateObjects" ng-show="data.day==6"><a href="" ng-click="getEmpDayRecord(data)">{{data.hours}}</a></td>
            <td>{{empData.totalHours}}</td>
            <!-- <td><a class="btn btn-small btn-primary"  ng-click="editband(Band)" >edit</a></td>
         	<td><a class="btn btn-small btn-primary"  ng-click="" >delete</a></td>    -->
        </tr>
        </tbody>
    </table>

   
</div>
