<!doctype html>
<html lang="en" ng-app="ngdemo">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>My AngularJS App</title>
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap/bootstrap-datetimepicker.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="lib/vis/dist/vis.min.css"/>
		
		<style>
  .vis-time-axis .grid.vis-odd {
    background: #f5f5f5;
  } </style>

		
		<!--<link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css"/>-->
		<!--<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>-->
	</head>
	<body ng-controller="mainCtrl">
		<header ng-show="showUserInfo">
			<div class="row">
				<div class="col-md-1 col-sm-2 col-xs-3">
				<div ng-show="showUserInfo">
					<center> <a href="#/login"><img src="img/logo.png"></center></a>
				</div>
				</div>
				<!-- <div class="col-md-9 col-sm-8 col-xs-7">
					<div ng-show="showPrevNext">
						<a class="btn btn-primary btn-sm" ng-click="back()">Previous</a>
						<a class="btn btn-primary btn-sm" style="float: right;" ng-click="forward()">Next</a>
					</div>
					
				</div> -->
				<center class="col-md-9 col-sm-8 col-xs-7">
                <div ng-show="showUserInfo" ng-controller="CompanyCtrl">
                    <div ng-repeat="company in CompanyInfo.result" class="companystyle">
                        <div>
                            <img ng-src="{{'data:image/*;base64,' + company.imageData}}" , width="80px" , height="80px" />
                        </div>
                        <div>
                            <p style="font-weight: bold;width:600px;height:50px;font-size:20px;align:left;">{{company.companyShortName}}
                                <br>{{company.companyWebsite}}</p>
                            <p>{{company.companyAddress}}</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </center>
				
				<div class="col-md-2 col-sm-2 col-xs-2">
				    <div ng-show="showUserInfo">
					<!--</br>
					Empsmart ID {{userInfo.data.login.empSmartId}}
					</br>
					Attempt {{userInfo.data.login.attempt}}
					
					<button class="btn btn-primary btn-sm" ng-click="logout()">logout</button>-->
					<div class="dropdown">
					 <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><center><img src="img/IMG1.png" width="30%" /></center></a>
					 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1" href="#ChangePassword">Change Password</a></li>
						<li><a tabindex="-1" href="#">Another action</a></li>
						<li><a tabindex="-1" href="#/selfProfile">edit profile</a></li>
						<li class="divider"></li>
						<li><a tabindex="-1" ng-click="logout()">Log out</a></li>
					</ul>
					</div>
					</div>
					
				</div>
				
			</div>
		</header>
		
		
		
		
		<div ng-view fit-available-height></div>
		
		
		
		
		<div class="footer" >
			<center>All Rights Reserved GTPL | Copyright &copy; 2015</center>
		</div>
		
		
		
		<!--<div class="clear">
			
			<center><footer>All Rights Reserved GTPL | Copyright &copy; 2015</footer></center>
			
			
			<div class="google-footer-bar">
			<div class="footer content clearfix">
			<center><a href="https://www.google.com/intl/en/about" target="_blank">All Rights Reserved GTPL | Copyright &copy; 2015</a></center>
			</div>
			</div>
			
		</div>-->
		
		
		<!-- JQuery ================================================================ -->
		<script src="js/jquery/jquery-2.0.3.js"></script>
		
		<!-- Bootstrap ============================================================= -->
		<!--<script src="js/bootstrap/bootstrap.js"></script>-->
		
		<!-- AngularJS ============================================================= -->
		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
		
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="lib/angular/angular-cookies.min.js"></script>
		
		<script src="lib/vis/dist/vis.min.js"></script>
		<script src="js/bootstrap/moment.js"></script>
		<script src="js/bootstrap/bootstrap.js"></script>
		<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
		
		<!-- AngularJS App Code ==================================================== -->
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers/main.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		
		<!-- controllers ==================================================== -->
		
		<script src="js/controllers/loginController.js"></script>
		<script src="js/controllers/dashboardController.js"></script>
		<script src="js/controllers/locationController.js"></script>
		<script src="js/controllers/holidayController.js"></script>
		<script src="js/controllers/privilageController.js"></script>
		<script src="js/controllers/bandController.js"></script>
		<script src="js/controllers/hierarchyController.js"></script>
		<script src="js/controllers/permissionsController.js"></script>
		<script src="js/controllers/registrationController.js"></script>
		<script src="js/controllers/timesheetController.js"></script>
		<script src="js/controllers/companycontroller.js"></script>
		<script src="js/controllers/shifttableController.js"></script>
		<script src="js/controllers/changePassController.js"></script>
		<script src="js/controllers/forgotpassController.js"></script>
		<script src="js/controllers/profileController.js"></script>
		
		
		
		
		<!-- Services ==================================================== -->
		<script src="js/services/userService.js"></script>		
		<script src="js/services/holidayService.js"></script>
		<script src="js/services/locationFactory.js"></script>
		<script src="js/services/privilageFactory.js"></script>
		<script src="js/services/hierarchyFactory.js"></script>
		<script src="js/services/bandService.js"></script>
		<script src="js/services/permissionsService.js"></script>
		<script src="js/services/registrationService.js"></script>
		<script src="js/services/timesheetService.js"></script>
		<script src="js/services/companyservice.js"></script>
		<script src="js/services/shifttimeServices.js"></script>
		<script src="js/services/changePassServices.js"></script>
		<script src="js/services/forgotpassService.js"></script>
		<script src="js/services/profileService.js"></script>
		
	</body>
</html>
