.mar-top{margin-top:1.5%;}
.register{margin-top:1%;}

.inner-registration{border-radius:6px!important;}


.inner-registration:hover   {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.inner-registration .fa{margin-left:44%;}
.inner-registration  p{margin-top:2%; color:white;}
.tiles h3{color:#2F4F4F;}
/*New*/
.white{color:white;
	font-family: Arial;
	font-size: 15px;}
.red{color:red;}
.inner-registration {padding:15px 0px;}


@media (max-width:767px) and (min-width: 360px){
	.inner-registration{margin-top:10px;}
	
}

.group {
	height: 10px;
	border: none;
	background: #97B0F8;
}

/*LOGIN*/


.selected{}


/*body{background-image: url('../img/eiffel_bg.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;}*/


.vertical-offset-100{
    padding-top:100px;
}

.forgot-password:hover{text-decoration: none;}

.index .panel-body{border:1px solid darkgrey; border-radius: 5px; padding: 5px!important; background: #ffffff; margin-top: 8%; }
.logo{  position: relative;
    right: -13px;
    top: -22px;
    width: 17%;}




/*LOG IN END*/

/*BODY-index*/
.bday{margin-top: 15%;}
.selectpicker{margin-top: 10px;}

.application{padding-bottom: 20px;}





/*LOGGEDIN-*/

.loggedin .panel-body:hover{background: #204d74!important; color: #dddddd;}



/*FOOTER*/
.footer p{ margin: 6px 0 0;}

.footer{ 
	padding: 5px;
    color: white;
	width:100%;
	position:relative;
}

.index .footer{ margin-top: 18%;}



.module-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

#centered{
width:200px;
height:50px;
margin:auto;
position:fixed;
bottom:0;
right:0;
left:0;       
}

.middle{
	vertical-align: middle 
}

header {
	border-bottom : 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px
}



